.expandButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
      transition: fill 0.2s ease;
    }

    &.expanded {
      transform: rotate(90deg);

    }
  }

}

.placeholder {
  display: inline-block;
  width: 24px;
  height: 24px;
}